:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --footer-text-dark: #444444;
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --medium-gray: #DFDFDF;
  --extra-gray: #D5D5D5;
  --social-background-gray: #E1E1E1;
  --basic-red: #FB565A;
  --medium-red: #E74246;
  --extra-red: #D7373B;
  --basic-green: #00CA74;
  --medium-green: #00BC6C;
  --extra-green: #00AA62;
  --basic-yellow: #EFC849;
  --medium-yellow: #EAB534;
  --extra-yellow: #E5A722;
  --contacts-color: #666666;
}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

/*Center*/

.center {
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/

.main-header {
  background-color: var(--basic-gray);
  padding: 0;
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  padding: 45px 0 0;
  margin: 0 auto;
}

.main-header-logo {
  padding: 0 0 5px;
  margin: 0;
}

.site-menu {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 437px;
  min-height: 30px;
  padding: 0;
  margin: 0;
}

.site-menu a {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;

  display: block;
  padding: 31px 25px 31px 0;
}

.header-basket a {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;

  display: block;
  padding: 25px 0 22px;
}

.header-basket .basket-link {
  position: relative;
  padding-left: 50px;
}

.basket-link::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-menu a:hover,
.header-basket a:hover {
  color: var(--basic-red)
}

.site-menu a:active,
.header-basket a:active {
  color: var(--extra-gray);
}

.catalog-title {
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  padding-bottom: 105px;
}

.site-menu .active-page {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: solid;
}

/*Slider*/

.slide {
  height: 431px;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.slide div {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.image-slide {
  float: right;
  margin: 0;
  padding: 0;
}

.offer-slide {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  width: 538px;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
}

.description-slide {
  width: 400px;
}

.slide-1 .description-slide {
  margin-top: 0;
}

.slide-2 .description-slide {
  padding-top: 37px;
  padding-bottom: 27px;
}

.slide-1 .description-slide {
  padding-top: 37px;
  padding-bottom: 26px;
}

/*Main offers*/

.block-border {
  border-bottom: 2px var(--basic-gray) solid;
}

.container-offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding: 80px 0;
}

.button {
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 3px;
  border: none;

  padding-top: 17px;
  padding-bottom: 15px;
}

.slider .button {
  padding-left: 54px;
  padding-right: 54px;
}

.container-offers .button {
  padding-left:  39px;
  padding-right: 40px;
}

.contacts .button {
  padding-left:  44px;
  padding-right: 44px;
}

.modal .button {
  padding-left: 83px;
  padding-right: 83px;
}

.button-red {
  background-color: var(--basic-red);
}

.button-red:hover {
  background-color: var(--medium-red);
}

.button-red:active {
  background-color: var(--extra-red);
}

.button-green {
  background-color: var(--basic-green);
}
.button-green:hover {
  background-color: var(--medium-green);
}

.button-green:active {
  background-color: var(--extra-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover {
  background-color: var(--medium-yellow);
}

.button-yellow:active {
  background-color: var(--extra-yellow);
}

/*Main description*/

.container-description {
  display: grid;
  grid-template-columns: 660px 360px;
  grid-column-gap: 140px;
  height: 525px;
}

.container-description h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
  margin-bottom: 32px;
  margin-top: 73px;
}

/* КОСЯК
.container-description p {
  margin-bottom: 40px;
}
*/

.container-description span {
  text-transform: uppercase;
  font-weight: 700;
}

.achievements {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

.achievements img {
  margin-bottom: 37px;
  margin-top: 39px;
}

.achievements-offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-top: 31px;
  margin-bottom: 74px;
}

.achievements-offer span {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  vertical-align: top;
}

.achievements-offer b {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  vertical-align: top;
}

/*Main article*/

.friends {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px;
}

/*Footer*/

.main-footer {
  margin: 0 auto;
  padding: 0 10px;
}

.contacts {
  padding: 70px 0;
}

.contacts-block {
  width: 319px;
  height: 308px;
  padding: 49px 50px 47px 50px;
  margin-left: 140px;
  background-color: var(--basic-white);
  border: 1px red solid;
}

.contacts-block span {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts-block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--contacts-color);
}

.contacts-block a {
  text-decoration: none;
  color: var(--contacts-color);
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 261px;
}

.footer-social div {
  margin: 0;
  margin-left: 139px;
  padding: 0;
  height: 81px;
  width: 547px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--social-background-gray);
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--medium-red);
}

.social-button:active {
  background-color: var(--extra-red);
}

.social-button:active path{
  fill: var(--basic-red);
}

.footer-offer {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.footer-offer-description {
  line-height: 22px;
  color: var(--footer-text-dark);
  margin: 0;
  padding: 0;

}

/*Modal window*/

.modal {
  width: 960px;
  height: 590px;
  padding: 63px 100px 84px 100px;
  border: 1px black solid;
}

.modal h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  }

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name-item,
.email-item {
  width: 360px;
}



.label-title {
font-size: 16px;
font-weight: 700;
line-height: 18px;
}

/*Main catalog*/

.main-catalog {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: start;
  margin-top: 55px;
}

.catalog-filter {
  grid-column: 1/2;
  margin: 0;
  padding: 0;
  min-width: 260px;
  margin-right: 140px;
}

.catalog-content {
  grid-column: 2/-1;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.catalog-sorting {
  display: flex;
  justify-content: space-between;
  min-width: 760px;
}

.catalog-sorting ul {
  display: flex;
  justify-content: space-around;
  min-width: 359px;
}

.catalog-sorting li {
  color: var(--medium-gray);
}

.catalog-sorting li:hover {
  color: var(--extra-gray);
}

.catalog-sorting .active-sorting,
.catalog-sorting li:active {
  color: var(--basic-black);
}

.list-templates ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 42px;
  min-width: 760px;
}

.catalog-pagination {
  display: flex;
  justify-content: space-around;

  list-style: none;
  width: 443px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.catalog-pagination a {
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-pagination .button-activ {
  border: var(--basic-gray) 1px solid;
}

.catalog-filter legend,
.catalog-sorting p {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-gray:hover {
  background-color: var(--medium-gray);
}

.button-gray:active {
  background-color: var(--extra-gray);
}

.catalog-filter label {
  line-height: 20px;
  color: var(--basic-dark);
}

.catalog-filter p {
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
}

.catalog-sorting ul,
.list-templates ul {
  list-style: none;
}

.catalog-sorting li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
