:root {
  --basic-black: #000000;
  --basic-dark: #283136;
  --footer-text-dark: #444444;
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --social-background-gray: #E1E1E1;
  --basic-red: #FB565A;
  --medium-red: #E74246;
  --extra-red: #D7373B;
  --basic-green: #00CA74;
  --medium-green: #00BC6C;
  --extra-green: #00AA62;
  --basic-yellow: #EFC849;
  --medium-yellow: #EAB534;
  --extra-yellow: #E5A722;
}

/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Header*/

.main-header {
  background-color: var(--basic-gray);
}

.site-menu {
  list-style: none;
}

.site-menu a {
  text-transform: uppercase;
  color: var(--basic-black)
}

.site-menu a:hover {
  color: var(--basic-red)
}

.site-menu a:active {
  color: var(--basic-gray);
}

.header-basket {
  text-transform: uppercase;
  color: var(--basic-black)
}

.header-basket:hover {
  color: var(--basic-red);
}

.header-basket:active {
  color: var(--basic-gray);
}

.hidden {
  display: none;
}

.offer-slider {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

/*Main offers*/

.button {
  color: var(--basic-white);
  text-transform: uppercase;
}

.button-red {
  background-color: var(--basic-red);
}

.button-red:hover {
  background-color: var(--medium-red);
}

.button-red:active {
  background-color: var(--extra-red);
}

.button-green {
  background-color: var(--basic-green);
}
.button-green:hover {
  background-color: var(--medium-green);
}

.button-green:active {
  background-color: var(--extra-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}
.button-yellow:hover {
  background-color: var(--medium-yellow);
}

.button-yellow:active {
  background-color: var(--extra-yellow);
}

/*Main description*/

.container-description h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.container-description span,
.container-achievements span {
  text-transform: uppercase;
  font-weight: 700;
}

/*Main article*/

.friends {
  list-style: none;
}

/*Footer*/

.footer-social li {
  list-style: none;
}

.social-button {
  background-color: var(--social-background-gray);
}
.social-button:hover {
  background-color: var(--medium-red);
}

.social-button:active {
  background-color: var(--extra-red);
}

.footer-offer {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-offer-description {
  line-height: 22px;
  color: var(--footer-text-dark);
}

/*Modal window*/

.modal h2 {
font-size: 45px;
font-weight: 700;
line-height: 53px;
}

.label-title {
font-size: 16px;
font-weight: 700;
line-height: 18px;
}
